.item {
    position: relative;
}

.item .header,
.item .footer {
    padding: 10px 0;
}

.item .body {
    padding: 10px;
    text-align: center;
}

.item .footer {
    border-top: 1px solid #bababa;
    overflow: auto;
}

.quiz-actions {
    overflow: auto;
}

.prev-question button,
.next-question button {
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s background;
    border-radius: 5px;
}

.prev-question:hover button,
.next-question:hover button {
    background: #fff;
    color: #07c;
}

.prev-question {
    float: left;
}

.next-question {
    float: right;
}