.item {
    position: relative;
    background: #07c;
    color: #fff;
}

.item .header,
.item .footer {
    text-align: center;
    padding: 10px 0;
}

.item .body {
    padding: 10px;
    text-align: center;
}

.item .footer {
    border-top: 1px solid #bababa;
    overflow: auto;
}

.quiz-actions {
    overflow: auto;
}

.prev-question button,
.next-question button {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s background;
}

.prev-question:hover button,
.next-question:hover button {
    background: #fff;
    color: #07c;
}

.prev-question {
    float: left;
}

.next-question {
    float: right;
}