.item {
    position: relative;
    background: #07c;
    color: #fff;
    width: 24%;
    min-height: 180px;
    float: left;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 10px;
    transition: 1s background;
}

.item .header,
.item .footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.item .header {
    border-bottom: 1px solid #bababa;
}

.item .body {
    padding: 10px;
    text-align: center;
}

.item .footer {
    border-top: 1px solid #bababa;
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
}

.item:hover {
    background: #eee;
    cursor: pointer;
}