* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ccc;
}

 .pull-left {
   float: left;
 }

 .pull-right {
   float: right;
 }

 #app {
   overflow: hidden;
 }